body {
	background-color: #2a2a2e;
	display: flex;
	flex-direction: row;
}
p {
	color: white;
}
.cellule {
	width: 35px;
	height: 35px;
}
.monstre {
	width: 43px;
	height: 43px;
	border-radius: 5px;
	margin: 10px;
}
#labyrinthe {
	line-height: 1px;
}
#ensemble_laby {
	display: flex;
	flex-direction: column;
}
#ligne_laby {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#ligne_haut, #ligne_bas {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.icons {
	width: 20px;
	height: 20px;
}
.previ {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin: 3px;
}
#dep_rap, #dec {
	display: flex;
	flex-direction: column;
	text-align: center;
}
#a_intervalle {
	width: 44px;
}
#passer_tour {
	height: 18px;
}
#actions {
	display: flex;
	flex-direction: row;
}
.intervalle {
	color: red;
}
.action {
	height: 44px;
}
button {
	margin: 15px;
}
button:hover {
	cursor: pointer;
	background-color: springgreen;
}